---
layout: base.njk
eleventyNavigation:
  key: Resources
  order: 1
---

<div class="o-content o-row-huge">
  <h1 class="b-hero p-note">Resources</h1>
  <ul>
    <li><a href="https://www.11ty.dev/">https://www.11ty.dev/</a></li>
    <li><a href="https://alpinejs.dev/">https://alpinejs.dev/</a></li>
    <li><a href="https://utopia.fyi/">https://utopia.fyi/</a></li>
    <li><a href="https://is-land.11ty.dev/">https://is-land.11ty.dev/</a></li>
    <li><a href="https://cssguidelin.es/">https://cssguidelin.es/</a></li>
  </ul>
</div>

