<footer class="c-footer">
  <div class="c-footer__group">
    <p class="b-small">This website is built with <a href="https://www.11ty.dev/">11ty</a>. Text is set in <a href="https://www.lexend.com/">Lexend</a>.</p>
  </div>
  <div class="c-footer__group">
    {% include 'partials/theme-toggle.njk' %}
  </div>
</footer>