<div role="status" class="u-visually-hidden js-mode-status"></div>
<button type="button" class="c-btn c-btn--secondary c-btn--small js-mode-toggle">
  <span class="c-theme-toggle__light js-mode-icon-light u-hidden" aria-hidden="true">
    {% icon "dark"  %}
  </span>
  <span class="c-theme-toggle__dark js-mode-icon-dark u-hidden" aria-hidden="true">
    {% icon "light" %}
  </span>
  <span class="js-mode-toggle-text">Change color theme</span>
</button>
